.App {
    padding: 2rem;
    font-family: Consolas;
    scroll-behavior: smooth;
}

.App h1 {
  font-size: 4rem;
}

.header {
    text-align: center;
    margin: 0;
    color: #bb86fc;
}

.navi {
    list-style: none;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-button {
    background: none;
    border: 2px solid #bb86fc;
    border-radius: 20px;
    color: #bb86fc;
    font-family: Consolas;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px 10px;
    white-space: nowrap;
}

.nav-button:hover {
    color: #f9f9f9;
    background-color: #bb86fc;
}

.navi li {
    margin: 0 70px; 
    padding: 10px;
}

.App .mini-heading {
    font-family: Consolas;
    padding: 0 1em 1em 2.5em;
    font-size: 3em;
    color: #EA80FC;
}

.intro {
    font-size: 1.1em;
    padding: 0 0 0 6.75em;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-img {
    width: 450px;
    height: auto;
    margin: 20px 120px 20px 20px;
    padding-top: 2em;
}

.blinker {
    animation: brand-blinker 1s step-end infinite;
}

@keyframes brand-blinker {
    0%, 50% {
        opacity: 1;
    }

    50.01%, 100% {
        opacity: 0;
    }
}

.timeline {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #bb86fc;
  border-radius: 50%;
  position: relative;
}

.circle:hover {
  box-shadow: 0 0 10px #bb86fc;
  transform: scale(1.3);
  cursor: pointer;
}

.circle:hover::before,
.circle:hover::after {
  transform: translateX(-50%) scale(0.833);
}

.circle::before,
.circle::after {
  display: block;         
  white-space: nowrap;   
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
}

.circle::before {
  top: -30px;
  content: attr(data-top);
  white-space: nowrap;  
  font-size: 1em;
}

.circle::after {
  bottom: -110px;
  content: attr(data-bottom);
  white-space: normal;
  width: 140px;
  line-height: 1.5;
  left: 50%;
  transform: translateX(-50%);
}

.line {
  width: 200px;
  height: 4px;
  background-color: #bb86fc;
}

.exp-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    padding: 0 10px 0 10px;
    gap: 40px;
    font-size: 1em;
    color: #F06292;
}

.proj-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    padding: 0 10px 0 10px;
    gap: 40px;
    font-size: 1em;
    color: #F06292;
}

.card1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #F06292;
}

.card3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #F06292;
}

.card2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #F06292;
}

.p1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #EF9A9A;
}

.p2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #EF9A9A;
}

.p3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #EF9A9A;
}

.p4:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #EF9A9A;
}

.rectangle {
    display: block;
    width: 335px;
    height: 370px;
    border: 3px solid #F06292;
    background-color: none;
    border-radius: 20%;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 15px 20px 25px 25px;
}

.proj {
    display: block;
    width: 265px;
    height: 260px;
    border: 3px solid #EF9A9A;
    background-color: none;
    border-radius: 25%;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 20px 15px 10px 15px;
    color: #EF9A9A;
}

.proj a {
    color: #bb86fc;
}

.rectangle li {
    text-align: left;
}

.job-title {
    color: #bb86fc;
}

.skill-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    display: inline-block;
    min-width: 3em;
    height: 1.5em;
    border: 2px solid #bb86fc;
    color: #bb86fc;
    border-radius: 1em;
    padding: 0 0.5em;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.three {
    color: #EF9A9A;
}

.two {
    color: #FFE57F;
}

.four {
    color: #F4FF81;
}

.skill2 {
    display: inline-block;
    min-width: 3em;
    height: 1.5em;
    border: 2px solid #FFE57F;
    color: #FFE57F;
    border-radius: 1em;
    padding: 0 0.5em;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.skill3 {
    display: inline-block;
    min-width: 3em;
    height: 1.5em;
    border: 2px solid #EF9A9A;
    color: #EF9A9A;
    border-radius: 1em;
    padding: 0 0.5em;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.skill4 {
    display: inline-block;
    min-width: 3em;
    height: 1.5em;
    border: 2px solid #F4FF81;
    color: #F4FF81;
    border-radius: 1em;
    padding: 0 0.5em;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.five {
    color: #18FFFF ;
}

.skill5 {
    display: inline-block;
    min-width: 3em;
    height: 1.5em;
    border: 2px solid #18FFFF;
    color: #18FFFF;
    border-radius: 1em;
    padding: 0 0.5em;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.skill-heading {
    text-align: center;
}

.contact {
    margin: 1em 5em 0 7.5em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact label {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  width: 300px; 
  justify-content: space-between;
}

.contact input, select, textarea{
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 0.25em
}

#submitb {
    background-color: #121212;
    color: #bb86fc;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

#submitb:hover {
    color: #121212;
    background-color: #bb86fc;
}