* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #bb86fc;
}

a {
    color: inherit;
    text-decoration: none;
}
